<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://img.freepik.com/free-vector/detailed-travel-logo-theme_23-2148630535.jpg?w=740&t=st=1721642884~exp=1721643484~hmac=1f789c06e985d13aaebfa093afb42d4d065167a07866248a0bf655628b57a027" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <div class="navlist">
            <a class="nav-link " aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/listings">All List</a>
            <a class="nav-link" href="/listings/new">add new</a>
         </div>

         <% if(!currentUser) { %>
          <div class="navlist">
            <a class="nav-link" href="user/signup">SignUp</a>
            <a class="nav-link" href="user/login">LogIn</a>
          </div>
        <% } else { %>
          <div>
            <a  class="nav-link" href="user/logout">LogOut</a>
          </div>
        <% } %>
         
        </div>
      </div>
    </div>
  </nav>